body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 168, 168);
  }
  
  .contact-info {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  .contact-info h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .contact-info p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .contact-info strong {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .contact-info h2 {
      font-size: 32px;
    }
    .contact-info p {
      font-size: 18px;
    }
  }