<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.component.css">
</head>
<body>
    <section class="contact-info">
        <h2>Contact Us</h2>
        <p>We're here to help! Reach out to us using the information below or fill out the contact form.</p>
        <ul>
          <li><strong>Address:</strong> 123 Main Street, Anytown, CA 12345</li>
          <li><strong>Phone:</strong> (555) 555-5555</li>
          <li><strong>Fax:</strong> (555) 555-5556</li>
         
        </ul>
    </section>
    
</body> 
</html>